<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Manager</title>

    <!-- Materialize CSS and Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">
    
</head>
<tbody>
<%- include('partials/navbar') %>
<% let array = [];
for(let i = 0; i < arr.length; i++) {
    array.push(arr[i].id);
} %>
<div class = container>
    <div class = "section" id = "ranklist">
        <h3>Ranks</h3>
        <table> 
            <thead>
                <th>Rank Name</th>
            </thead>
            <tbody>
                <% for (let i = 0; i < ranks.length; i++) { %>
                    <%if (ranks[i].id >= 0){%>
                        <tr>
                            <td> <%= ranks[i].name %></td>
                            <td>
                                <%if (array.indexOf(ranks[i].id) == -1){%>
                                    <a class = "btn-small waves-effect waves-light red" 
                                        href = "/ranks/<%=ranks[i].id %> + /delete" %>>
                                        <i class = "material-icons right">delete</i>Delete
                                    </a>
                                    <td>
                                        This rank is not in use and can be deleted
                                    </td>
                                <% } else{ %>
                                    <a class = "disabled btn-small waves-effect waves-light red" 
                                        href = "/ranks/<%=ranks[i].id %> + /delete" %>>
                                        <i class = "material-icons right">delete</i>Delete
                                    </a>
                                    <td>
                                        This rank is in use, please make sure no employees are assigned this rank before deleting it.
                                    </td>
                                    
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                <% } %>           
                
            </tbody>
    </table>
    </div>

    <div section = "Add New">
        <h5>Add a Rank</h5>
        <form method = "post" action = "/ranks">
            <div class = "row">
                <input name = "name" placeholder="Rank Name:" id="name" type="text" class="validate s1" required>
            </div>
            <button class="btn waves-effect waves-light row push-s2" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
</tbody>